body {
  font-family: 'Quicksand', sans-serif;
  display: grid;
  height: 85vh;
  place-items: center;
}

.main {
  padding-inline: 20px;
}

.main p,
#resultadosInversiones {
  text-align: justify;
  font-size: 1.4rem;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
}

form input {
  margin-block-end: 15px;
}


form input[type="number"] {
  font-size: 1.2rem;
}

form button {
  width: fit-content;
  font-size: 1.2rem;
  background-color: chartreuse;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

form button:hover {
  background-color: #64c900;
}

@media screen and (max-width:900px) {
  body {
    height: 50%;
  }

  header .h1_title {
    font-size: 1.4rem;
  }

  .main p,
  #resultadosInversiones {
    text-align: justify;
    font-size: 1.1rem;
  }
}